<!doctype html>
<html lang="en">
    <head>
        <title>Trang chu</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../src/public/css/style.css" />
        <style>
            body {
            font-family: 'Poppins', sans-serif;
            background: #191A1C;
            color: #fff;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-x: hidden;
        }
            header {
            background-color: rgba(0, 0, 0, 0.7);
            width: 100%;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .offcanvas-start {
            width: 0;
            transition: width 0.3s ease;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            font-family: 'Poppins', sans-serif;
        }
        #main-content {
            transition: margin-left 0.3s ease;
            width: 100%;
        }
        .offcanvas.show {
            width: 300px;
        }
        .offcanvas-title {cursor: pointer;}
         
        .search-container {
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0.7);
            padding: 8px 12px;
            border-radius: 10px;
            color: white;
            width: 300px;
            margin-right: 10px;
        }
        .search-container input {
            background: transparent;
            border: none;
            outline: none;
            color: white;
            flex-grow: 1;
        }
        .search-container input::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }

        .cover-container {
            display: flex;
            justify-content: center; /* Horizontally center */
            align-items: center; /* Vertically center (if needed) */
            width: 100%;
        }
        .cover-container img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 5px; /* Slight rounding for a clean look */
        }

        .summary-container::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 20px; /* Adjust as needed */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        }

        .summary-container {
            max-height: 100px; /* Limits height */
            overflow: hidden;
            position: relative;
        }

        .summary-text {
            display: -webkit-box;
            -webkit-line-clamp: 10; /* Limits the number of visible lines */
            -webkit-box-orient: vertical;
            overflow: hidden;
            position: relative;
            text-overflow: ellipsis;
        }
        
        </style>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand navbar-light bg-transparent d-flex w-100">
                <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="background: transparent; border: none; outline: none;color: white;">
                                ☰
                            </button>
                        </li>
                </ul>
                <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item">
                            <div class="search-container">
                                <input type="text" placeholder="Search">
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown ms-auto">
                                <button
                                    class="btn btn-secondary dropdown-toggle"
                                    type="button"
                                    id="triggerId"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                <span><%=username %></span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="triggerId">
                                    <a class="dropdown-item" href="/auth/update-info">Cap Nhat Thong Tin</a>
                                    <a class="dropdown-item" href="/auth/update-password">Doi Mat Khau</a>
                                    <a class="dropdown-item" href="/logout">Dang Xuat</a>
                                </div>
                            </div>
                        </li>
                </ul>
            </nav>
        </header>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" data-bs-backdrop="false" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header" style="color: white;">
                <h5 class="offcanvas-title" data-bs-dismiss="offcanvas" style="font-weight: 800;" id="offcanvasNavbarLabel">aBOOKS</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" ></button>
            </div>
            <hr>
            <div class="offcanvas-body" style="color: white;">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/home/home1">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/genres">The Loai</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/follow">Follow</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/about">About</a></li>
                </ul>
            </div>
        </div>
        <main id="main-content" class="p-3">
            <div class="container mt-4">
                <div class="row">
                    <% books.forEach(book => { %>
                        <div class="col-md-6">
                            <a href="#" class="text-decoration-none">
                            <div class="card mb-3 bg-dark text-white">
                                <div class="row g-0">
                                    <div class="col-md-3 d-flex justify-content-center align-items-center">
                                        <div class="cover-container">
                                            <img src="<%= book.cover %>" class="img-fluid m-2" alt="<%= book.title %>">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <span class="me-2"></span> <%= book.title %>
                                            </h5>
                                            <div class="d-flex align-items-center">
                                                <span>⭐ <%= book.rating.toFixed(2) %></span>
                                                <span class="ms-3">📖 <%= book.follow.toLocaleString() %></span>
                                                <% if (book.status === "Completed") { %>
                                                    <span class="badge ms-3" style="background-color: #00C9F5;"><%= book.status %></span>
                                                <% } else if (book.status === "Ongoing") { %>
                                                    <span class="badge bg-success ms-3"><%= book.status %></span>
                                                <% } %>
                                            </div>
                                            <div class="mt-2">
                                                <% book.genre.forEach(genre => { %>
                                                    <span class="badge bg-secondary"><%= genre.trim() %></span>
                                                <% }) %>
                                            </div>
                                            <div class="summary-container">
                                                <p class="card-text summary-text"><%= book.summary %>...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                            
                        </div>
                    <% }) %>
                </div>
            </div>
            
        </main>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        <script>
            var offcanvasElement = document.getElementById('offcanvasNavbar');
            var mainContent = document.getElementById('main-content');
            var openSidebarBtn = document.getElementById('openSidebar');
            var closeSidebarBtn = document.getElementById('closeSidebar');
            
            openSidebarBtn.addEventListener('click', function () {
                offcanvasElement.classList.add('show');
                mainContent.style.marginLeft = '300px';
            });
            
            closeSidebarBtn.addEventListener('click', function () {
                offcanvasElement.classList.remove('show');
                mainContent.style.marginLeft = '0';
            });
        </script>
    </body>
</html>
